

.container {
    font-size: 0;
    text-align: justify;
    padding-bottom: 20px;
}

/* Styles for individual restaurants */
.restaurant {
    width: 31%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-right: -4px;
    text-decoration: none; /* Removes the default underline from anchor tags */
    color: inherit; /* Inherits the color from the parent */
}

.restaurant:hover {
    border-color: #888; /* Darkens the border color on hover for a subtle effect */
}

/* Clear the inline-block gaps */
.container::after {
    content: "";
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0;
}
